* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(200, 230, 231);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    position: relative;
}

.scrolling-text {
    width: 100%;
    padding-top: 50px;
    position: absolute;
}

marquee {
    font-size: 20px;
}

